
<button mat-raised-button color="primary" (click)="ShowInnerWorkings()">Show blocks</button>
    
    &nbsp; <button mat-raised-button color="primary" (click)="SaveBlocks()">Persist in browser</button>
    &nbsp;
    <button mat-raised-button color="primary" (click)="RunCode()">Run Code</button>

    &nbsp;
    <button mat-raised-button color="primary" (click)="Download()">Download blocks</button>
    &nbsp;
    <input type="file" (change)="changeListener($event)">
    <button mat-raised-button  color="primary" [matMenuTriggerFor]="menu">Demos ({{demos.length}})</button>
<mat-menu #menu="matMenu">
    <ng-template ngFor let-demo let-i="index"  [ngForOf]="demosCategories | keyvalue">
  <button mat-menu-item [matMenuTriggerFor]="menu" >{{i+1}} {{demo.key}} ({{demo.value.length}})</button>
  <mat-menu #menu="matMenu">
    <ng-template ngFor let-itemDemo let-iMenu="index"  [ngForOf]="demo.value">
    <button mat-menu-item (click)="ShowDemo(itemDemo)" >{{iMenu+1}} {{itemDemo.description}}</button>
    </ng-template>  
  </mat-menu>
  
  </ng-template>
  
</mat-menu>
    <span *ngIf="(demoWorkspace == null)">Loading</span>
<!-- <div id="blocklyDiv" style="position:absolute"></div> -->
<div style="width: 100%">
    <div id="blocklyDiv"
        style="display: inline-block; height: 480px; width: 58%"></div>
    <textarea id="output" disabled="disabled" [(ngModel)]='showInner'
        style="display: inline-block; height: 480px; width: 38%;">
    </textarea>
  </div>

  <div id="steps" style="display: inline-block; width: 96%;"></div>
 