
<mat-spinner *ngIf="!loadedCompletely"></mat-spinner>
<mat-grid-list [cols]="ShowSomething() ? 2 : 1" rowHeight="1:1">
  <mat-grid-tile-header>
    <div style="display: inline-block; height: 100%; width: 100%">
      <div style="display: inline-block; height: 5%; width: 100%">
        <button mat-raised-button color="primary" (click)="LoadSwagger()">
          <mat-icon>file_upload</mat-icon>
          Load Swagger/OpenAPI
        </button>

        
        &nbsp;
        <button
          mat-raised-button
          id="downloadBlocks"
          color="primary"
          [matMenuTriggerFor]="menuSave"
        >
          <mat-icon>save</mat-icon>
          Save =>
        </button>
        <mat-menu #menuSave="matMenu">
        
        <button mat-raised-button color="primary" (click)="SaveBlocks()">
          <mat-icon>web</mat-icon>
          Persist in browser
        </button>
        <mat-divider  [inset]="true"></mat-divider>
        <button
          id="downloadBlocks"
          mat-raised-button
          color="primary"
          (click)="Download()"
        >
          <mat-icon>download</mat-icon>
          Download blocks
        </button>
        <mat-divider  [inset]="true"></mat-divider>
        <button
          mat-raised-button
          [color]='(DetailsApp.LocalAPI?.WasAlive||false) ?"primary":"warn"'
          
          (click)="SaveToLocalAPI()"
        >
          <mat-icon>save</mat-icon>
          Save Local 
        </button>
          
        </mat-menu>
        &nbsp;
        <button
          mat-raised-button
          color="warn"
          id="runButton"
          (click)="RunCode()"
        >
          <mat-icon>play_arrow</mat-icon>
          Execute
        </button>

        &nbsp;
        &nbsp;
        <input type="file" (change)="changeListener($event)" />

        <button mat-raised-button color="primary" (click)="ShowInnerWorkings()">
          <mat-icon>code</mat-icon>
          {{ ShowSelection() }}
        </button>
        <button
        mat-raised-button
        id="demos"
        color="accent"
        (click)="ShowBlocks()"
      >
        <mat-icon>list</mat-icon>
        Load Blocks 
      </button>
      
        <a
          target="_blank"
          *ngIf="mustLoadDemoBlock?.length"
          mat-raised-button
          color="primary"
          [routerLink]="['/', 'automation', 'loadexample', mustLoadDemoBlock]"
          >Direct link {{ mustLoadDemoBlock }}</a
        >
      </div>
    </div>
  </mat-grid-tile-header>
  <mat-grid-tile>
    <div
      [id]="'blocklyDiv' + this.myId"
      style="display: inline-block; height: 100%; width: 100%"
    ></div>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="ShowSomething()">
    <ngx-monaco-editor
      *ngIf="ShowOutput()"
      style="display: inline-block; height: 100%; width: 100%"
      [options]="editorPlain"
      [(ngModel)]="showInner"
    ></ngx-monaco-editor>
    <ngx-monaco-editor
      *ngIf="ShowCode()"
      style="display: inline-block; height: 100%; width: 100%"
      [options]="editorJSOptions"
      [(ngModel)]="showJSCode"
    ></ngx-monaco-editor>
    <ngx-monaco-editor
      *ngIf="ShowXML()"
      style="display: inline-block; height: 100%; width: 100%"
      [options]="editorXMLOptions"
      [(ngModel)]="showXMLCode"
    ></ngx-monaco-editor>

    <ngx-monaco-editor
      *ngIf="ShowBlocksDefinition()"
      style="display: inline-block; height: 100%; width: 100%"
      [options]="editorJSOptions"
      [(ngModel)]="showBlocksDefinition"
    ></ngx-monaco-editor>
  </mat-grid-tile>
</mat-grid-list>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Output Grid </mat-panel-title>
      <mat-panel-description>
        Click to see grid of output values
      </mat-panel-description>
    </mat-expansion-panel-header>
    
    <div [id]="'steps' + myId"></div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Chart </mat-panel-title>
      <mat-panel-description>
        Click to see chart of output values
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      <canvas [id]="'barchart' + myId" width="800" height="450"> </canvas>
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> HTML </mat-panel-title>
      <mat-panel-description>
        Click to see output as HTML
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div [id]="'htmlOutput' + myId"></div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Text </mat-panel-title>
      <mat-panel-description>
        Click to see output as Text
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div [id]="'htmlText' + myId"></div>
  </mat-expansion-panel>
</mat-accordion>
