<button mat-icon-button color="primary" (click)="addTab()" ><mat-icon>add_circle</mat-icon></button>

<mat-tab-group (selectedIndexChange)="changeSelected($event)" [selectedIndex]="selectedTabIndex">

    <mat-tab *ngFor="let number of numbers" [label]="'W:'+(number+1)">  
        <ng-template mat-tab-label>
            <mat-icon aria-hidden="false" *ngIf="number<10" > filter_{{number+1}}</mat-icon>
            <span *ngIf="number>9">W:{{number+1}</span>
        </ng-template>
            <ng-template #vcr></ng-template>      
    </mat-tab>
 
  </mat-tab-group>

  <button mat-raised-button color="primary"  (click)="addTab()" >Add</button>