<mat-tab-group>
  <mat-tab label="Demos">
    <form class="example-form">
      
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Categories</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          aria-label="Categories"
          matInput
          [formControl]="myCategories"
          [matAutocomplete]="autoCategories"
        />
        <mat-autocomplete #autoCategories="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptionsCategories | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Blocks</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          aria-label="Blocks"
          matInput
          [formControl]="myBlocks"
          [matAutocomplete]="autoBlocks"
        />
        <mat-autocomplete #autoBlocks="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptionsBlocks | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </form>
    
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th>Details</th>
          
        </tr>
      </thead>
      <tr *ngFor="let demo of demosArray | async; let i = index">
        <td>
          {{ i + 1 }}
        </td>
        <td>
          <button mat-raised-button color="primary" (click)="chooseDemo(demo)">            
          {{ demo.description }}
          </button>
        </td>
        <td>
          <b>{{ demo.categories?.split(';')?.join(', ') }}</b>          
          {{ demo.blocks?.split(';')?.join(', ') }}
        </td>
      </tr>
    </table>
  </mat-tab>

  <mat-tab label="Saved on local" > 
    <button
    mat-raised-button
    color='primary'
    *ngIf="!DetailsApp.LocalAPI?.WasAlive"
    (click)="Verify()"
  >
    <mat-icon>save</mat-icon>
    Verify LocalAPI
   

  </button>
{{demoBlocksLocal.length}}
  <table>
    <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Details</th>
        
      </tr>
    </thead>
    <tr *ngFor="let demo of demoBlocksLocal; let i = index">
      <td>
        {{ i + 1 }}
      </td>
      <td>
        <button mat-raised-button color="primary" (click)="chooseDemo(demo)">            
        {{ demo.description }}
        </button>
      </td>
      <td>
        <b>{{ demo.categories?.split(';')?.join(', ') }}</b>          
        {{ demo.blocks?.split(';')?.join(', ') }}
      </td>
    </tr>
  </table>



  </mat-tab>
  <mat-tab label="CLOUD" disabled="disabled"> Saved on Cloud </mat-tab>
</mat-tab-group>

<button mat-raised-button id="blocks" color="accent" (click)="Close()">
  <mat-icon>close</mat-icon>
  Close
</button>
